.bgImage {
    background-image:
        /* top, transparent red */
        linear-gradient(rgba(44, 0, 0, 0.65),
            rgba(76, 143, 221, 0.65)),
        /* your image */
        url('/ourTeam.jpg');
    min-height: 400px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}